/* 导航栏样式 */
.navbar {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.598);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 10px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}


/* 菜单按钮样式 */
.navbar a {
    display: inline-block;
    color: #ccc;
    text-decoration: none;
    padding: 12px 20px;
    margin: 0 10px;
    font-size: 18px;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.1); /* 按钮初始背景颜色 */
}

/* 鼠标悬停时效果 */
.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.063); /* 鼠标悬停时背景颜色变化 */
    color: #fff; /* 字体颜色变为白色 */
    border-color: #fff; /* 按钮边框颜色变化 */
}

/* 响应式设计：适应较小屏幕的导航栏样式 */
@media (max-width: 768px) {
    .navbar a {
        padding: 10px 11px;  /* 减小按钮的内边距 */
        font-size: 14px;      /* 减小按钮的字体大小 */
    }
    
    h1 {
        font-size: 28px;      /* 标题在移动设备上变小 */
    }

    p {
        font-size: 14px;      /* 文字内容的字体也变小 */
    }
}

/* 超小屏幕（手机）适配 */
@media (max-width: 480px) {
    .navbar a {
        padding: 8px 11px;
        font-size: 13px;  /* 进一步减小按钮的字体大小 */
        margin: 5px;      /* 减小按钮间的距离 */
    }

    h1 {
        font-size: 28px;  /* 超小屏幕时进一步缩小标题 */
    }

    p {
        font-size: 14px;  /* 减小文本大小 */
    }
}

@media (max-width: 420px) {
    .navbar a {
        padding: 8px 11px;
        font-size: 12px;  /* 进一步减小按钮的字体大小 */
        margin: 3px;      /* 减小按钮间的距离 */
    }

    h1 {
        font-size: 24px;  /* 超小屏幕时进一步缩小标题 */
    }

    p {
        font-size: 12px;  /* 减小文本大小 */
    }
}

@media (max-width: 380px) {
    .navbar {
        flex-wrap: wrap;
    }
}
